@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@900&display=swap');

/* Smooth Scroll */
html, body, * { scroll-behavior: smooth; font-family: 'Encode Sans', sans-serif; }

/* Scroll Bar */
:root::-webkit-scrollbar { width: 0.25rem; }
:root::-webkit-scrollbar-track { background: transparent; }
:root::-webkit-scrollbar-thumb { background: #696969; }
:root::-webkit-scrollbar-thumb:hover { background: #38ffff; }